# Ignore object files
*.o

# Ignore compiled executables
*.exe
dga_classifier
train
confusion
demo
lstm_demo
test

# Ignore build directories
/build/
/bin/

# Ignore editor or IDE files
.vscode/
*.swp
*.sublime-workspace
*.sublime-project

# Ignore model binaries
*.bin
*.pt

# Ignore zip files
*.zip

# Ignore Python cache
__pycache__/
*.pycs